/* body classes definitions */
body { 
	color:#606057; 
	background-color: #e0e0e0;
	background-repeat:  repeat-y;
}

table {
	color:#606057; 
	background-color: transparent ;
}

i { color:#606057; }

font { color:#606057; }

td {
	color: #606057;
	background-color: transparent; 
}


span {color:#606057;}

a { color:#606057; }

a:link { color:#577fbF; text-decoration: underline; } 
a:visited { color: #748395; text-decoration: underline; } 

.green {
	background-image: url(bkg-green.gif);
}

.yellow {
	background-image: url(bkg-yellow.gif);
}

.red {
	background-image: url(bkg-red.gif);
}

.purple {
	background-image: url(bkg-purple.gif);
}

.blue {
	background-image: url(bkg-blue.gif);
}

.clear {
	background-image: url(bkg-clear.gif);
}

